@using EmployeeClient.Models.Domain;
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category List";
}
<div class="card-header">
    <h4 style="font-family: monospace; font-weight: bold;">Category List</h4>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Category Name</th>
                    <th>Status</th>
                    <th><a class="btn btn-dark btn-sm" style="font-family: monospace; font-weight: bold;" asp-controller="Category" asp-action="Create"><i class="fa fa-plus-square"></i> New Category</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.CategoryId</td>
                        <td>@category.CategoryName</td>
                        @if(category.Status == "Active")
                        {
                            <td><span class="text-success"><i class="fa fa-check-circle-o" aria-hidden="true"> @category.Status</i></span></td>
                        }
                        else
                        {
                            <td><span class="text-danger"><i class="fa fa-check-circle-o" aria-hidden="true"> @category.Status</i></span></td>
                        }
                         <td>
                            <select class="form-select form-select-sm form-control" style="font-size: 12px; font-weight: bold; height: 30px; font-family: monospace;" onchange="ActionChange(event)">
                                <option value="">Choose Action</option>
                                <option value="@Url.Action("Update","Category", new { id = category.CategoryId })">Edit Category</option>
                                @*<option value="@Url.Action("Delete","Category", new { id = category.CategoryId })">Delete Category</option>*@
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("_CreateCategory", new Category())
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function ActionChange(event) {
            var selectEvent = event.target;
            var value = selectEvent.value;
            if (value.startsWith("/Category/Update/")) {
                window.location.href = value;
            }
        }
    </script>
}
