@model EmployeeClient.Models.Domain.Invoice

@{
    ViewData["Title"] = "Create Invoice";
}
<div class="card-header"><h5>Create Sales Invoices</h5></div>
<div class="card-body">
    <form asp-controller="Invoice" asp-action="Create">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-lg-2">
                <div class="form-group">
                    <label asp-for="InvoiceCode" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-text" id="codeIcon"><i class="fa fa-barcode"></i></div>
                        <input asp-for="InvoiceCode" class="form-control form-control-sm" aria-describedby="codeIcon" readonly />
                    </div>
                    <span asp-validation-for="InvoiceCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" class="form-control form-select form-select2 select2 form-select-lg customerData" asp-items="@ViewBag.Customer">
                        <option value="">Choose Customer</option>
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <div class="form-group">
                    <label asp-for="InvoiceDate" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-text" id="dateInvoiceCreated"><i class="fa fa-calendar"></i></div>
                        <input asp-for="InvoiceDate" class="form-control form-control-sm" aria-describedby="dateInvoiceCreated" />
                    </div>
                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="InvoiceDateDue" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-text" id="dateDueofInvoice"><i class="fa fa-calendar"></i></div>
                        <input asp-for="InvoiceDateDue" class="form-control form-control-sm" aria-describedby="dateDueofInvoice" />
                    </div>
                    <span asp-validation-for="InvoiceDateDue" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="table-responsive pt-4">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>QTY</th>
                        <th>Unit Price</th>
                        <th>VAT</th>
                        <th>Discount</th>
                        <th>Discount Value</th>
                        <th>Sub Total</th>
                        <th><button type="button" id="btnAdd" onclick="AddItem(this);" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></button></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @for (int i = 0; i < Model.InvoiceDetails.Count; i++)
                    {
                        <tr>
                            <td>
                                <select class="form-control form-select-sm form-control-sm form-select" onchange="GetBuyingPrice(this,'unitId-@i'); GetProductVat(this,'vatId-@i'); CalculateSubtotal();" asp-for="@Model.InvoiceDetails[i].ProductId" asp-items="@ViewBag.Product">
                                    <option value="">Select Product</option>
                                </select>
                                <span class="text-danger" asp-validation-summary="@Model.InvoiceDetails[i].ProductId"></span>
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm" onchange="CalculateSubtotal();" asp-for="@Model.InvoiceDetails[i].Qty" />
                                <span class="text-danger" asp-validation-for="@Model.InvoiceDetails[i].Qty"></span>
                            </td>
                            <td>
                                <input type="number" step="0.001" id="unitId-@i" readonly class="form-control form-control-sm pull-right" onchange="CalculateSubtotal();" asp-for="@Model.InvoiceDetails[i].UnitPrice" />
                                <span class="text-danger" asp-validation-for="@Model.InvoiceDetails[i].UnitPrice"></span>
                            </td>
                            <td>
                                <input type="number" step="0.001" id="vatId-@i" readonly class="form-control form-control-sm pull-right" onchange="CalculateSubtotal();" asp-for="@Model.InvoiceDetails[i].VAT" />
                                <span class="text-danger" asp-validation-for="@Model.InvoiceDetails[i].VAT"></span>
                            </td>
                            <td>
                                <select class="form-control form-select-sm form-control-sm form-select" onchange="GetDiscountValue(this, 'discValue-@i'); CalculateSubtotal();" asp-for="@Model.InvoiceDetails[i].DiscountId" asp-items="@ViewBag.Discount">
                                    <option value="0">Select Option</option>
                                </select>
                                <span class="text-danger" asp-validation-for="@Model.InvoiceDetails[i].DiscountId"></span>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="number" step="0.001" readonly class="form-control form-control-sm pull-right" id="discValue-@i" aria-describedby="discountValueIcon" onchange="CalculateSubtotal(); " asp-for="@Model.InvoiceDetails[i].DiscountValue" />
                                    <div class="input-group-text" id="discountValueIcon"><b>%</b></div>
                                </div>
                                <span class="text-danger" asp-validation-for="@Model.InvoiceDetails[i].DiscountValue"></span>
                            </td>
                            <td>
                                <input type="hidden" asp-for="@Model.InvoiceDetails[i].IsDeleted" />
                                <input type="number" readonly class="form-control form-control-sm pull-right" onchange="CalculateSubtotal();" asp-for="@Model.InvoiceDetails[i].SubTotal" />
                                <span class="text-danger" asp-validation-for="@Model.InvoiceDetails[i].SubTotal"></span>
                            </td>
                            <td><button type="button" id="btnRemove-@i" onclick="btnDelete(this);" class="btn btn-danger btn-sm"><i class="fa fa-close"></i></button></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-end" colspan="6"><label asp-for="Total" class="control-label">Total value</label></th>
                        <th>
                            <input id="totalValue" type="number" step="0.001" readonly onchange="CalculateSubtotal();" asp-for="Total" style="text-decoration-style: double; text-decoration-line: underline;" class="form-control form-control-sm pull-right" />
                            <span asp-validation-for="Total" class="text-danger"></span>
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="form-group pt-3 pull-right">
            <button class="btn btn-primary btn-lg" type="submit">Create Invoice</button>
            <a class="btn btn-danger btn-lg" asp-controller="Invoice" asp-action="Index"><i class="fa fa-close"></i></a>
        </div>
        <div class="form-group">
            <select id="buyingPrice" asp-items="@ViewBag.GetBuyingPrice" style="visibility: hidden;"></select>
            <select id="gettingVat" asp-items="@ViewBag.getVat" style="visibility: hidden;"></select>
            <select id="gettingDiscountValue" asp-items="@ViewBag.DiscountValue" style="visibility: hidden;"></select>
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.customerData').select2({
                containerCssClass: "select2--large",
            });
        });
        function btnDelete(btn){
            var tbody = document.getElementById('tbody');
            var row = tbody.getElementsByTagName('tr');
            if(row.length == 1){
                alert("You can not remove this Row");
                return;
            }
            var btnIdx = btn.id.replaceAll('btnRemove-','');
            var idOfDeleted = btnIdx + "__IsDeleted";
            var hideIsDeletedId = document.querySelector("[id$= '" + idOfDeleted + "']").id;
            document.getElementById(hideIsDeletedId).value = "true";
            $(btn).parents('tr').hide();
            //$(btn).closest('tr').remove();
            CalculateSubtotal();
        }

        function AddItem(btn){
            var table = document.getElementById('tbody');
            var row = table.getElementsByTagName('tr');

            var rowOuterHtml = row[row.length - 1].outerHTML;

            var lastRowIdx = row.length - 1;
            var nextRowIdx = eval(lastRowIdx) + 1;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastRowIdx + '_', '_' + nextRowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastRowIdx + ']', '[' + nextRowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastRowIdx, '-' + nextRowIdx);

            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;
        }

        function CalculateSubtotal(){
            var total = 0;
            var tbody = document.getElementById('tbody');
            $(tbody).find('tr:visible').each(function(){
                var qty = $(this).find("td:eq(1) input[type=number]").val();
                var unitPrice = $(this).find("td:eq(2) input[type=number]").val();
                var vat = $(this).find("td:eq(3) input[type = number]").val();
                var discountValue = $(this).find("td:eq(5) input[type = number]").val();

                var calculate = (qty * unitPrice);
                vat = (vat * calculate)/100;
                discountValue = (discountValue * calculate)/100;

                var subTotal = ((calculate + vat) - discountValue);
                $(this).find("td:eq(6) input[type=number]").val(subTotal);

                total = total + subTotal;
            });
            $('#totalValue').val(total);
        }
        document.addEventListener('change', function(e){
            if(e.target.id == 'totalValue'){
                CalculateSubtotal();
            }
        }, false);
        function GetBuyingPrice(ProductId, unitId)
        {
            var selectBuyingPrice = document.getElementById('buyingPrice');
            var priceUnit = document.getElementById(unitId);
            var items = selectBuyingPrice.options;
            var unitValue = ProductId.value;
            for(var i=items.length-1; i >= 0; i--)
            {
                if(items[i].value == unitValue)
                {
                    priceUnit.value = items[i].text;
                    return;
                }
            }
        }
        function GetProductVat(ProductId, vatId)
        {
            var selectVat = document.getElementById('gettingVat');
            var vatData = document.getElementById(vatId);
            var items = selectVat.options;
            var vatValue = ProductId.value;
            for(var i = items.length-1; i >= 0; i--)
            {
                if(items[i].value == vatValue)
                {
                    vatData.value = items[i].text;
                    return;
                }
            }
        }
        function GetDiscountValue(DiscountId, discValue)
        {
            var selectDiscountValue = document.getElementById('gettingDiscountValue');
            var discount = document.getElementById(discValue);
            var items = selectDiscountValue.options;
            var discountValue = DiscountId.value;
            for(var i = items.length-1; i >= 0; i--)
            {
                if(items[i].value == discountValue)
                {
                    discount.value = items[i].text;
                    return;
                }
            }
        }
    </script>
}
