@model IEnumerable<EmployeeClient.Models.Domain.Invoice>

@{
    ViewData["Title"] = "Invoice List";
}
<div class="card-header"><h5>Invoice Lists</h5></div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Invoice Code</th>
                    <th>Date</th>
                    <th>Customer Name</th>
                    <th>Contact</th>
                    <th>Pin NO.</th>
                    <th>Credit Terms</th>
                    <th>Credit Limit</th>
                    <th>Total</th>
                    <th><a class="btn btn-dark btn-sm" asp-controller="Invoice" asp-action="Create"><i class="fa fa-plus"></i> New Invoice</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in Model)
                {
                    <tr>
                        <td>@invoice.InvoiceCode</td>
                        <td>@invoice.InvoiceDate.ToString("dd-mm-yyyy")</td>
                        <td>@invoice.Customer.FirstName @invoice.Customer.LastName</td>
                        <td>@invoice.Customer.PhoneNumber</td>
                        <td>@invoice.Customer.VatPin</td>
                        <td>@invoice.Customer.CreditTerms</td>
                        <td>@invoice.Customer.CreditLimit</td>
                        <td>@invoice.Total</td>
                        <td>
                            <a class="btn btn-success btn-sm" asp-controller="Invoice" asp-action="Edit" asp-route-id="@invoice.InvoiceId">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Invoice" asp-action="Delete" asp-route-id="@invoice.InvoiceId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
