@model IEnumerable<EmployeeClient.Models.Domain.Discount>
@{
    ViewData["Title"] = "Discount List";
}
<div class="card-header">
    <div class="row">
        <div class="col-md-2"><h4 style="font-family: monospace; font-weight: bold;">All Discount List</h4></div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <div class="form-group pull-right"><a class="btn btn-dark btn-sm" style="font-family: monospace; font-weight: bold;" asp-controller="Discount" asp-action="Create"><i class="fa fa-plus-square"></i> New Currency</a></div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="text-uppercase" style="font-weight: bold;">
                    <th>REF</th>
                    <th>Discount Name</th>
                    <th>Value (%)</th>
                    <th>From-Date</th>
                    <th>Expire-Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var discount in Model)
                {
                    <tr>
                        <td>@discount.DiscountId</td>
                        <td>@discount.DiscountName</td>
                        <td>@discount.DiscountValue</td>
                        <td>@discount.StartDate.ToShortDateString()</td>
                        <td>@discount.ExpireDate.ToShortDateString()</td>
                        @if (discount.Status == "Active")
                        {
                            <td><span class="text-success"><i class="fa fa-check-circle-o" aria-hidden="true"> @discount.Status</i></span></td>
                        }
                        else
                        {
                            <td><span class="text-danger"><i class="fa fa-check-circle-o" aria-hidden="true"> @discount.Status</i></span></td>
                        }
                        <td>
                            <select class="form-select form-select-sm form-control" style="font-size: 12px; font-family: monospace; font-weight: bold; height: 30px;" onchange="ActionChange(event)">
                                <option value="">Choose Action</option>
                                <option value="@Url.Action("Edit","Discount", new { id = discount.DiscountId })">Edit Discount</option>
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function ActionChange(event){
            var selectEvent = event.target;
            var value = selectEvent.value;
            if(value.startsWith("/Discount/Edit/")){
                window.location.href = value;
            }
        }
    </script>
}