@model IEnumerable<EmployeeClient.Models.Domain.MeasureUnit>

@{
    ViewData["Title"] = "Measure Unit List";
}
<div class="card-header">
    <h4 style="font-family: monospace; font-weight: bold;">Measure Unit List</h4>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table dataTable table-hover">
            <thead>
                <tr>
                    <th class="text-uppercase" style="font-family: monospace; font-weight: bold;">REF</th>
                    <th class="text-uppercase" style="font-family: monospace; font-weight: bold;">Measure Unit</th>
                    <th class="text-uppercase" style="font-family: monospace; font-weight: bold;">Status</th>
                    <th><a class="btn btn-dark btn-sm" style="font-family: monospace; font-weight: bold;" asp-controller="Measure" asp-action="Create"><i class="fa fa-plus-circle"></i> Unit</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var measure in Model)
                {
                    <tr>
                        <td>@measure.MeasureUnitId</td>
                        <td style="font-family: monospace; ">@measure.MeasureUnitName</td>
                        @if (measure.Status == "Active")
                        {
                            <td><span class="text-success"><i class="fa fa-check-circle-o" aria-hidden="true"> @measure.Status</i></span></td>
                        }
                        else
                        {
                            <td><span class="text-danger"><i class="fa fa-check-circle-o" aria-hidden="true"> @measure.Status</i></span></td>
                        }
                        <td>
                            <a class="btn btn-success btn-sm" asp-controller="Measure" asp-action="Edit" asp-route-id="@measure.MeasureUnitId"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-sm" asp-controller="Measure" asp-action="Delete" asp-route-id="@measure.MeasureUnitId"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
